<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Questrial" rel="stylesheet">
    <title>UF Directory App - Assignment 2</title>
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1><b>UF Directory App</b></h1>
      </div>
      <div class="row" ng-controller="ListingsController as listings">
        <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <!-- 

                Implement a way to filter through listings using the search bar OK

              -->
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="search.name">
          </div>
          <div class="tableWrapper">
            <table class="table table-striped table-hover">
              <thead class="thead-default">  
                <tr>
                  <th>Code</th>
                  <th>Building Name</th>
                  <th></th>
                </tr>
              </thead>
              <!-- 

                  Fill in the rest of the table:
                      * populate the rows with the code and name of each listing OK
                      * include a way to remove individual listings OK

                --> 
              <tr ng-repeat="listing in listings | filter:search.name" ng-click="showDetails($index)">
                <td>{{listing.code}}</td>
                <td>{{listing.name}}</td>
                <td><button class="btn btn-danger" ng-click="deleteListing($index)">Remove</button></td>
              </tr>
            </table>
          </div>
          <!-- 

              Write an HTML form that adds new listings to the directory OK

            -->              
          
        </div>
        <div class="col-md-6">
          <div class="jumbotron">
            <h2><b>Detailed Information</b></h2>
            <!-- 

              Include a way to display detailed information about an individual listing:
                   * consider how to use ng-click within the the table to implement this feature

             -->
            <div ng-show="showLabels()">
              <p><i>Latitude: {{details.coordinates.latitude}}</i></p>
              <p><i>Longitude: {{details.coordinates.longitude}}</i></p>
              <p><i>Address: {{details.address}}</i></p>
            </div>
                    
          </div>
          <form ng-submit="addListing()">
            <div class="row">
              <div class="col-md-2">
                <p><i>Code: </i></p> 
              </div>
              <div class="col-md-4">
                <input class="form-control" type="text" placeholder="ex. CEN" ng-model="listing.code" required>
              </div>
              <div class="col-md-2">
                <p><i>Name: </i></p> 
              </div>
              <div class="col-md-4">
                <input class="form-control" type="text" placeholder="ex. Center Ernest McHughs" ng-model="listing.name" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <p><i>Latitude: </i></p> 
              </div>
              <div class="col-md-4">
                <input class="form-control" type="number" step="0.00000000000001" placeholder="ex. -45.2563" ng-model="listing.coordinates.latitude">
              </div>
              <div class="col-md-2">
                <p><i>Longitude: </i></p> 
              </div>
              <div class="col-md-4">
                <input class="form-control" type="number" step="0.00000000000001" placeholder="ex. 45.6345" ng-model="listing.coordinates.longitude">
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <p><i>Address: </i></p>
              </div>
              <div class="col-md-4">
                <textarea class="form-control" type="text" placeholder="ex. 100 Fletcher Dr, Gainesville, FL 32611, United States" ng-model="listing.address"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5"></div>
              <div class="col-md-7">
                <input class="btn btn-success" type="submit" value="Submit">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>